*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;  
    overflow-y: scroll;
    min-height: 650px;
}
.page{
    background: linear-gradient(90deg, rgb(255, 102, 196), rgb(240,191, 76));
    min-height: 100vh;
}
.front{
    height: 100vh;
}
.page > #img{
    background-image: url('./assets/img1.jpg');
    background-size: cover;
    height: 90%;  
}
#topBar{
    padding: 15px 0px;
    background-color: white;
    display: grid;
    grid-template-columns: minmax(5px, 2fr) 20fr minmax(60px, 1fr);
}
nav{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
    flex-wrap: wrap;
}
li{
    display: inline-block;
    min-width: 100px;
    font-size: clamp(15px, 5vw, 18px);
}
#icons{
    grid-column: 3/4;
    display: flex;
    justify-content: space-evenly;
    padding-right: 1rem;
    padding-top: 0.2rem;
}
.heading{
    box-sizing: content-box;
    background-color: rgba(255, 151, 148, 0.7);
    width: 35%;
    padding: 15px;
    position: relative;
    top: 20%;
    left: 10%;
}
h1{
    color: white;
    font-size: clamp(14px , 10vw, 50px);
    font-weight:600;
}
.heading p{
    color: white;
    font-size: clamp(14px , 3vw, 15px);
    font-weight: 400;
    width: 80%;
}
.break{
    height: 5px;
    background-color: white;
}
h2{
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: clamp(12px , 8vw, 40px);
    font-weight:600;
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    row-gap: 35px;
    padding: 20px 10px;
    margin-top: 50px;
}
.container{
  max-width: 240px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 20px; 
  border-radius: 0 50px 0 50px;  
  row-gap: 1rem;      
}

.container img{
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0 50px 0 50px ;
}

.container p{
    font-size: clamp(14px , 3vw, 15px);
}
@media (max-width: 1000px) {
    .main-container::after{
        content: '';
        width: 240px;
    } 
}

@media (max-height: 650px){
    .page{
        min-height: 650px;
    }
    .front{
        min-height: 650px;
    }
}

button{
    width: 150px;
    padding: 15px 25px;
    font-size: clamp(15px, 7vw, 18px);
    background-color: rgba(255,255,255,0.5);
    border: none;
    border-radius: 30px;

}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
    padding-bottom: 20px;
}